@page
@model WeatherApp.Pages.FinalPredictionMockupModel
@{
}

<head>
    <link rel="stylesheet" hreft="site.css" />
    <style>
        body {
            background-image: url('https://wallpapercave.com/wp/wp8593971.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>

<h1 class="h1">Premier League Predictions</h1>

<body>

    <div>
        <br />
        <h2>The follow table shows results based on your input:</h2>

    </div>


    <div>
        <h2 cass="text-center">Chelsea's Results When It is 80°:</h2>
        <table>
            <thead>
                <tr>
                    <td class="text-center">Wins</td>
                    <td class="text-center">Loses</td>
                    <td class="text-center">Best Result</td>
                    <td class="text-center">Worst Result</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">45</td>
                    <td class="text-center">19</td>
                    <td class="text-center">8:0</td>
                    <td class="text-center">0:7</td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <br />

    <div class="text-center">
        <img src="https://logodownload.org/wp-content/uploads/2017/02/chelsea-fc-logo-escudo.png" class="image-size">
    </div>

</body>