@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Premier League Match Predictor Pro</h1>
    <p>
        This application will give you the record of Premier League soccer teams when playing in different weather conditions.
    </p>
</div>

<h1 class="text-center">
    Below are links to our services:
</h1>

<body>
    <div>
        <ul>
            <li><a href="/MatchPredictor" style="font-size: 30px">Match Predictor</a></li>
            <br/>
            <li><a href="/TeamInfo" style="font-size: 30px">Teams</a></li>
            <br/>
            <li><a href="/PlayerInfo" style="font-size: 30px">Players</a></li>
            <br/>
            <li><a href="/FavortieTeams" style="font-size: 30px">Favorite Teams</a></li>
        </ul>
    </div>
</body>