@page
@model WeatherApp.Pages.PlayerInfoModel
@{
    var PID = HttpContext.Request.Query["PID"];
}
<h1 class="text-center">This is the player information page</h1>
<h2 id="playerName" style="visibility: hidden;"></h2>
<div id="playerPosition" style="visibility: hidden;"></div>
<div id="playerNumber" style="visibility: hidden;"></div>

<script type="module">
    displayPlayerInfo(@PID)
</script>