@page
@model WeatherApp.Pages.PlayerInfoModel
@{
    var PID = HttpContext.Request.Query["PID"];
}
<h1 class="text-center">Selected Player Information:</h1>
<h2 id="playerName" style="visibility: hidden;"></h2>
<div id="playerPosition" style="visibility: hidden;"></div>
<div id="playerNumber" style="visibility: hidden;"></div>

<input type="text" id="searchInput" placeholder="Enter player name">
<button onclick="displayPlayerInfo(@PID)">Search</button>

<script type="module">
    displayPlayerInfo("searchInput");
</script>